.projectsSection {
    padding: 0 75px;

    .titleWrapper {
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 40px;
    }

    &__desc {
        line-height: 25px;
        font-size: 18px;
        color: #303845;
    }

    &__imageCol {
        display: flex;
        border-radius: 7px;
        overflow: hidden;
        max-height: 500px;

        & > img {
            height: 100%;
            max-width: 50%;
            object-fit: cover;
        }

        .innerCol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            background-color: #1919B4;

            h4 {
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 36px;
                line-height: 49px;
                color: #FFFFFF;
                margin: 0;

                span {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 49px;
                    color: #FFFFFF;
                }
            }
        }
    }
}