.projectsSection {
    padding: 0 75px;

    .titleWrapper {
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 40px;
    }

    &__desc {
        line-height: 25px;
        font-size: 18px;
        color: #303845;
    }

    &__imageCol {
        display: flex;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        max-height: 500px;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,.1), 0 1px 8px -3px rgba(0,0,0,.02), 0 2px 16px 0 rgba(0,0,0,.04);

        & > img {
            height: 100%;
            max-width: 50%;
            object-fit: cover;
        }

        .innerCol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            background-color: #1919B4;

            h4 {
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 36px;
                line-height: 49px;
                color: #FFFFFF;
                margin: 0;

                span {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 49px;
                    color: #FFFFFF;
                }
            }
        }
    }

    &__contentCol {
        padding: 0 60px;

        h3 {
            text-transform: uppercase;
            line-height: 49px;
            font-weight: normal;
            font-size: 36px;
            color: #B49678;
            margin: 50px 0 30px;

            span {
                text-transform: uppercase;
                line-height: 49px;
                font-weight: 700;
                font-size: 36px;
                color: #B49678;
            }
        }

        ul {
            li {
                a {
                    display: block;
                    line-height: 25px;
                    font-weight: normal;
                    font-size: 18px;
                    color: #303845;
                    margin-bottom: 20px;
                    transition: all .3s ease;
        
                    &:hover {
                        text-decoration: none;
                        color: #B49678;
                    }
                }
            }
        }
    }
}