.projectsSection {
    padding: 0 75px;

    .titleWrapper {
        margin-bottom: 20px;
    }

    &__desc {
        line-height: 25px;
        font-size: 18px;
        color: #303845;
    }

    &__imageCol {
        display: flex;
        max-heigt: 100%;
    }
}