.projectsSection {
    padding: 0 75px;

    .titleWrapper {
        margin-bottom: 20px;
    }

    &__desc {
        line-height: 25px;
        font-size: 18px;
        color: #303845;
    }

    &__imageCol {
        display: flex;
        max-height: 500px;

        & > img {
            height: 100%;
            max-width: 50%;
            object-fit: cover;
        }

        .innerCol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #1919B4;
        }
    }
}