.projectsSection {
    padding: 0 75px;
    margin-bottom: 75px;

    @media screen and (max-width: 1599px) {
        padding: 0 10px;
    }

    .titleWrapper {
        margin-bottom: 20px;
    }

    &__projectRow {
        margin-top: 40px;

        &:nth-of-type(2n) {
            .projectsSection__imageCol {
                & > img {
                    order: 2;
                }
            }
        }
    }

    &__desc {
        line-height: 25px;
        font-size: 18px;
        color: #303845;
    }

    &__imageCol {
        display: flex;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        max-height: 500px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        @media screen and (max-width: 1599px) {
            max-height: 420px;
        }

        & > img {
            height: 100%;
            max-width: 50%;
            object-fit: cover;
        }

        .innerCol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            min-height: 360px;
            background-color: #1919B4;

            h4 {
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 36px;
                line-height: 49px;
                color: #FFFFFF;
                margin: 0;

                @media screen and (max-width: 1599px) {
                    font-size: 28px;
                    line-height: 1.4;
                }

                span {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 49px;
                    color: #FFFFFF;

                    @media screen and (max-width: 1599px) {
                        font-size: 28px;
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    &__contentCol {
        padding: 0 60px;

        &_content {
            p {
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #303845;
            }
        }

        h3 {
            text-transform: uppercase;
            line-height: 49px;
            font-weight: normal;
            font-size: 36px;
            color: #B49678;
            margin: 50px 0 30px;

            @media screen and (max-width: 1599px) {
                font-size: 28px;
                line-height: 1.4;
            }

            span {
                text-transform: uppercase;
                line-height: 49px;
                font-weight: 700;
                font-size: 36px;
                color: #B49678;

                @media screen and (max-width: 1599px) {
                    font-size: 28px;
                    line-height: 1.4;
                }
            }
        }

        .czaplaLink {
            border-color: #E5E5E5;
        }
    }
}

ul.programLinks {
    padding: 0;
    list-style: none;
    margin: 50px 0 0;

    @media screen and (max-width: 991px) {
        margin: 25px 0 0;
    }

    &.singleProgramLinks {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;

        li {
            display: inline-block;
        }
    }

    li {
        position: relative;

        &:hover {
            svg {
                path {
                    fill: #1919B4;
                }
            }
            a {
                text-decoration: none;
                color: #B49678;
            }
        }

        svg {
            position: absolute;
            left: -25px;
            top: 0;

            path {
                transition: all .3s ease;
            }
        }
        
        a {
            display: block;
            line-height: 25px;
            font-weight: normal;
            font-size: 18px;
            color: #303845;
            margin-bottom: 20px;
            transition: all .3s ease;
        }
    }
}