.siteFooter {
    padding: 75px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__logo {
        margin-bottom: 40px;
    }

    &__content {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            display: inline-flex;
            position: relative;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }
}