.siteFooter {
  padding: 25px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__logo {
    margin-bottom: 20px;
  }

  &__content {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: inline-flex;
      align-items: center;
      font-weight: normal;
      line-height: 19px;
      color: #ffffff;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  &__tel,
  &__email {
    position: relative;
    font-size: 18px;

    &:before {
      display: block;
      width: 20px;
      margin-right: 10px;
    }
  }

  &__tel {
    margin-bottom: 10px;

    &:before {
      content: url("../../images/tel_svg.svg");
    }
  }

  &__email {
    margin-bottom: 20px;

    &:before {
      content: url("../../images/email_svg.svg");
    }
  }

  .socialIcons {
    margin-bottom: 20px;
  }

  &__privacy {
    font-size: 14px;
  }
}

.siteCopyright {
  background-color: #b49678;
  padding: 20px 0;
  text-align: center;

  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    margin: 0;
  }

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.socialIcons {
  display: flex;
  margin-bottom: 40px;

  a {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 5px;

    img {
      border-radius: 7px;
    }
  }
}
