.siteFooter {
    padding: 75px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__logo {
        margin-bottom: 40px;
    }

    &__content {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 40px;

        p {
            margin: 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            display: inline-flex;
            font-weight: normal;
            font-size: 18px;
            line-height: 19px;
            color: #FFFFFF;

            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    &__tel,
    &__email {
        position: relative;

        &:before {
            display: block;
            width: 20px;
            position: absolute;
            left: -30px;
        }
    }

    &__tel {
        &:before {
            content: url('../../images/tel_svg.svg');
        }
    }

    &__email {
        &:before {
            content: url('../../images/email_svg.svg');
        }
    }
}