.siteFooter {
    padding: 75px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        a {
            display: inline-flex;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }
}