.contactForm.contactFormProduct {
  .contactFormProduct__row {
    @media screen and (max-width: 479px) {
        margin: 0;
        padding: 0;
    }
  }

  .contactFormProduct__innerCol {
      @media screen and (max-width: 767px) {
          padding: 0;
      }
  }

  .formField {
    &__name,
    &__email {
      width: 100%;
      margin-right: 0;
    }

    &__message {
      padding-bottom: 25px;
      height: 100%;

      @media screen and (max-width: 767px) {
        min-height: 200px;
      }

      .MuiTextField-root {
        height: 100%;

        .MuiInputBase-root {
          display: block;
          height: 100%;

          textarea {
            padding: 20px;
            height: 100% !important;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
