.contactForm.contactFormProduct {
    .formField {
        &__name,
        &__email {
            width: 100%;
            margin-right: 0;
        }

        &__message {
            height: 100%;

            .MuiTextField-root {
                height: 100%;

                textarea {
                    height: 100%;
                }
            }
        }
    }
}