.contactForm.contactFormProduct {
    .formField {
        &__name,
        &__email {
            width: 100%;
            margin-right: 0;
        }
    }

    textarea {
        height: 100%;
    }
}