@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap&subset=latin-ext");

* {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  user-select: #1919b4 !important;

  ::selection {
    background: #1919b4 !important;
    color: white !important;
  }
}

#___gatsby {
  overflow: hidden;
}

main {
  margin-top: 183px;

  @media screen and (max-width: 1799px) {
    margin-top: 150px;
  }

  @media screen and (max-width: 991px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 479px) {
    margin-top: 65px;
  }
}

.czaplaLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 120px;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  font-size: 18px;
  color: #b49678;
  letter-spacing: 0.3em;
  background: #fff;
  border-radius: 35px;
  border: 2px solid #b49678;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(105.41deg, #d3bba2 0%, rgba(211, 187, 162, 0) 100%), #b49678;

    span {
      color: #fff;
    }
  }

  span {
    line-height: 25px;
    font-weight: 700;
    font-size: 18px;
    color: #b49678;
    letter-spacing: 0.3em;
    transition: all 0.3s ease;
  }
}

.standardPadding {
  padding: 0 75px !important;

  @media screen and (max-width: 1279px) {
    padding: 0 25px !important;
  }
}
