@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    user-select: #1919B4;

    ::selection {
        background: #1919B4;
        color: white;
    }
}

#___gatsby {
    overflow: hidden;
}

main {
    margin-top: 183px;

    @media screen and (max-width: 1599px) {
        margin-top: 150px;
    }
}