@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap&subset=latin-ext");

* {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  user-select: #1919b4 !important;

  ::selection {
    background: #1919b4 !important;
    color: white !important;
  }
}

#___gatsby {
  overflow: hidden;
}

main {
  margin-top: 183px;

  @media screen and (max-width: 1799px) {
    margin-top: 150px;
  }

  @media screen and (max-width: 991px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 479px) {
    margin-top: 65px;
  }
}

.czaplaLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 120px;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  font-size: 18px;
  color: #b49678;
  letter-spacing: 0.3em;
  background: #fff;
  border-radius: 35px;
  border: 2px solid #b49678;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(105.41deg, #d3bba2 0%, rgba(211, 187, 162, 0) 100%), #b49678;

    span {
      color: #fff;
    }
  }

  span {
    line-height: 25px;
    font-weight: 700;
    font-size: 18px;
    color: #b49678;
    letter-spacing: 0.3em;
    transition: all 0.3s ease;
  }
}

.standardPadding {
  padding: 0 75px !important;

  @media screen and (max-width: 1279px) {
    padding: 0 25px !important;
  }

  @media screen and (max-width: 479px) {
    padding: 0 10px !important;
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute !important;
width: 1px;
word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
background-color: #eee;
clip: auto !important;
clip-path: none;
color: #444;
display: block;
font-size: 1em;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
/* Above WP toolbar. */
}
