@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

main {
    margin-top: 183px;
}