nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 42px 115px 0;
    background-color: #fff;
    z-index: 999;
    transition: all .3s ease;

    &.scrolled {
        // padding: 20px 100px 0;
        // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);

        .navbar-brand {
            img {
                width: 160px;
                margin-bottom: 20px;
            }
        }

        #basic-navbar-nav {
            .navbar-nav {
                & > li {
                    & > a {
                        // padding-bottom: 30px;
                    }
                }
            }
        }
    }

    .navbar-brand {
        padding: 0;
        margin: 0;

        img {
            width: 250px;
            transition: all .45s ease;
            margin-bottom: 48px;
        }
    }

    #basic-navbar-nav {
        flex-direction: row;
        justify-content: flex-end;

        .navbar-nav {
            & > li {
                position: relative;
                margin: 0 25px;

                &.opened {
                    .submenuWrapper {
                        display: flex;
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .submenuWrapper {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    visibility: hidden;
                    padding: 35px 40px 40px;
                    background-color: #fff;
                    transform: translate(-50%, 0);
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
                    opacity: 0;
                    will-change: opacity;
                    transition: opacity .3s ease;

                    &__categoryCol {
                        width: 260px;
                        padding: 0 10px;

                        h3 {
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 19px;
                            color: #B49678;
                            margin-bottom: 20px;
                        }

                        a {
                            position: relative;
                            display: inline-block;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;
                            color: #303845;
                            margin-bottom: 15px;

                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -5px;
                                display: block;
                                width: 0;
                                height: 2px;
                                background-color: #B49678;
                                transition: all .5s ease;
            
                            }
        
                            &:hover {
                                color: #B49678;
        
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                & > a {
                    position: relative;
                    display: block;
                    padding-bottom: 48px;
                    text-decoration: none;
                    font-size: 1.125rem;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #303845;
                    transition: all .45s ease;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: block;
                        width: 0;
                        height: 3px;
                        background-color: #B49678;
                        transition: all .45s ease;
    
                    }

                    &:hover {
                        color: #B49678;

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}