nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 52px 115px 48px;
    background-color: #fff;
    z-index: 999;
    transition: all .3s ease;

    &.scrolled {
        padding: 20px 100px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

        .navbar-brand {
            img {
                width: 160px;
            }
        }
    }

    .navbar-brand {
        img {
            width: 250px;
            transition: all .3s ease;
        }
    }
}