nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 52px 115px 0;
    background-color: #fff;
    z-index: 999;
    transition: all .3s ease;

    &.scrolled {
        padding: 20px 100px 0;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

        .navbar-brand {
            img {
                width: 160px;
                margin-bottom: 20px;
            }
        }

        #basic-navbar-nav {
            .navbar-nav {
                li {
                    a {
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }

    .navbar-brand {
        padding: 0;
        margin: 0;

        img {
            width: 250px;
            transition: all .3s ease;
            margin-bottom: 48px;
        }
    }

    #basic-navbar-nav {
        flex-direction: row;
        justify-content: flex-end;

        .navbar-nav {
            & > li {
                position: relative;
                margin: 0 25px;

                .submenuWrapper {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 35px 50px 40px;
                    background-color: #fff;
                }

                & > a {
                    position: relative;
                    display: block;
                    padding-bottom: 48px;
                    text-decoration: none;
                    font-size: 1.125rem;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #303845;
                    transition: all .3s ease;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: block;
                        width: 0;
                        height: 3px;
                        background-color: #B49678;
                        transition: all .45s ease;
    
                    }

                    &:hover {
                        color: #B49678;

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}