nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 52px 115px 0;
    background-color: #fff;
    z-index: 999;
    transition: all .3s ease;

    &.scrolled {
        padding: 20px 100px 0;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

        .navbar-brand {
            img {
                width: 160px;
                margin-bottom: 20px;
            }
        }

        .basic-navbar-nav {
            .navbar-nav {
                li {
                    padding-bottom: 20px;
                }
            }
        }
    }

    .navbar-brand {
        padding: 0;
        margin: 0;

        img {
            width: 250px;
            transition: all .3s ease;
            margin-bottom: 48px;
        }
    }

    .basic-navbar-nav {
        .navbar-nav {
            li {
                padding-bottom: 48px;

                a {

                }
            }
        }
    }
}