nav.navbar {
    padding: 52px 115px 48px;

    &.scrolled {
        padding: 30px 100px 27px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

        .navbar-brand {
            img {
                width: 
            }
        }
    }

    .navbar-brand {
        img {
            width: 250px;
        }
    }
}