.noResultTitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #B49678;
    margin: 30px 0;
}

.searchPage {
    @media screen and (max-width: 479px) {
        padding: 0;
    }
}