.homepageNumbers {
    .titleWrapper {
        margin-bottom: 60px;
    }

    &__wrapper {
        padding: 70px 0 80px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .col-md-4 {
            text-align: center;

            span {
                text-transform: uppercase;
                line-height: 131px;
                font-weight: normal;
                font-size: 96px;
                color: #FFFFFF;

                @media screen and (max-width: 1599px) {
                    font-size: 64px;
                    line-height: 1.4;
                }
            }

            p {
                text-transform: uppercase;
                line-height: 33px;
                font-weight: normal;
                font-size: 24px;
                color: #FFFFFF;

                @media screen and (max-width: 1599px) {
                    font-size: 20px;
                    line-height: 1.4;
                }
            }
        }
    }
}