.titleWrapper {
    margin: 80px 0 100px;

    @media screen and (max-width: 767px) {
        margin: 30px 0 50px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        color: #1919B4;

        @media screen and (max-width: 767px) {
            font-size: 24px;
        }

        img {
            width: 42px;
            pointer-events: none;
        }
    }
}