.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 42px;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;        
        color: #1919B4;
    }
}