.titleWrapper {
    margin: 80px 0 100px;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        color: #1919B4;

        img {
            width: 42px;
            pointer-events: none;
        }
    }
}