.referencesSection {
  .titleWrapper {
    margin-bottom: 20px;

    @media screen and (max-width: 991px) {
      margin-bottom: 0;
    }
  }

  &__contentCol {
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  &__contentWrapper,
  &__author {
    display: block;
    max-width: 840px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__contentWrapper {
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      color: #303845;

      @media screen and (max-width: 1599px) {
        max-width: 80%;
        margin: 0 auto 10px;
      }

      @media screen and (max-width: 767px) {
        max-width: calc(100% - 50px);
        text-align: center;
        line-height: 24px;
      }

      @media screen and (max-width: 479px) {
        max-width: calc(100% - 30px);
        line-height: 20px;
        font-size: 13px;
      }
    }
  }

  &__author {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #b49678;
  }

  .carousel-item {
    &.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
