nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 42px 115px 0;
    background-color: #fff;
    z-index: 999;
    transition: all .3s linear;

    @media screen and (max-width: 1799px) {
        padding: 42px 75px 0;
    }

    @media screen and (max-width: 1369px) {
        padding: 42px 25px 0;
    }

    .searchIcon {
        line-height: 25px;
        padding-bottom: 48px;
        margin-left: 50px;
        transition: all .3s ease;

        @media screen and (max-width: 1369px) {
            margin-left: 25px;
        }
    
        &:hover {
            svg {
                path {
                    fill: #B49678;
                }
            }
        }
    
        svg {
            path {
                fill: #303845;
                transition: all .3s ease;
            }
        }
    }

    .searchBar {
        display: flex;
        flex-basis: 100%;
        justify-content: flex-end;
        height: 120px;
        padding: 30px 0;
        background: #fff;
        opacity: 1.0;
        transition: padding .3s, height 500ms 0ms, opacity 500ms 500ms;

        &.hide {
            height: 0px;
            padding: 0;
            transition: padding .5s .5s, height 500ms 500ms, opacity 500ms 0ms;
            opacity: 0.0;
            z-index: -1;

            .inputWrapper {
                input {
                    display: none;
                }
            }

            .czaplaLink {
                display: none;
            }
        }

        .inputWrapper {
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                position: absolute;
                top: 18px;
                left: 0;
                background-image: url('../../images/loop.svg');
                background-size: cover;

                @media screen and (max-width: 1369px) {
                    top: 13px;
                }
            }

            input {
                display: block;
                width: 620px;
                height: 60px;
                padding-left: 45px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                color: #B49678;
                letter-spacing: 0.3em;
                border: none;
                border-bottom: 2px solid #EAEAEA;
                transition: border-color .3s ease;
                outline: none;

                @media screen and (max-width: 1369px) {
                    width: 480px;
                    height: 50px;
                    font-size: 16px;
                }
    
                &::placeholder {
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 25px;
                    color: #B49678;
                    letter-spacing: 0.3em;

                    @media screen and (max-width: 1369px) {
                        font-size: 16px;
                    }
                }

                &:focus {
                    border-bottom: 2px solid #B49678;
                }
            }
        }

        .czaplaLink {
            display: flex;
            margin-left: 25px;

            @media screen and (max-width: 1369px) {
                height: 50px;
                padding: 0 85px;
            }
        }
    }

    .headerSocialLink {
        line-height: 25px;
        padding-bottom: 48px;
        margin-left: 21px;
        transition: all .3s ease;
    }

    &.scrolled {
        padding: 20px 100px 0;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 1799px) {
            padding: 20px 50px 0;
        }

        .searchIcon,
        .headerSocialLink {
            padding-bottom: 30px;
        }

        .navbar-brand {
            img {
                width: 160px;
                margin-bottom: 20px;
            }
        }

        #basic-navbar-nav {
            .navbar-nav {
                & > li {
                    & > a {
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }

    .navbar-brand {
        padding: 0;
        margin: 0;

        img {
            width: 250px;
            transition: all .45s ease;
            margin-bottom: 48px;

            @media screen and (max-width: 1799px) {
                width: 160px;
            }
        }
    }

    #basic-navbar-nav {
        flex-direction: row;
        justify-content: flex-end;

        @media screen and (max-width: 991) {
            order: 2
        }

        .navbar-nav {
            & > li {
                position: relative;
                padding: 0 25px;

                @media screen and (max-width: 1799px) {
                    padding: 0 20px;
                }

                @media screen and (max-width: 1369px) {
                    padding: 0 15px;
                }

                &.opened {
                    .submenuWrapper {
                        display: flex;
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .submenuWrapper {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    visibility: hidden;
                    padding: 35px 40px 40px;
                    background-color: #fff;
                    transform: translate(-50%, 0);
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
                    opacity: 0;
                    will-change: opacity;
                    transition: opacity .3s ease;

                    &__categoryCol {
                        width: 260px;
                        padding: 0 10px;

                        @media screen and (max-width: 1799px) {
                            width: 200px;
                        }

                        h3 {
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 19px;
                            color: #B49678;
                            margin-bottom: 20px;
                        }

                        a {
                            position: relative;
                            display: inline-block;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;
                            color: #303845;
                            margin-bottom: 15px;

                            @media screen and (max-width: 1799px) {
                                font-size: 13px;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -5px;
                                display: block;
                                width: 0;
                                height: 2px;
                                background-color: #B49678;
                                transition: all .5s ease;
            
                            }
        
                            &:hover {
                                color: #B49678;
        
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                & > a {
                    position: relative;
                    display: block;
                    padding-bottom: 48px;
                    text-decoration: none;
                    font-size: 1.125rem;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #303845;
                    transition: all .45s ease;

                    @media screen and (max-width: 1799px) {
                        font-size: 1rem;
                    }

                    @media screen and (max-width: 1369px) {
                        font-size: 14px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: block;
                        width: 0;
                        height: 3px;
                        background-color: #B49678;
                        transition: all .45s ease;
    
                    }

                    &:hover {
                        color: #B49678;

                        &:after {
                            width: 100%;
                        }
                    }

                    &.currentPage {
                        font-weight: 600;
                        color: #303845;

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}