.programTitleWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 15px 0;
    margin: 0 0 30px;

    &__mainProgramTitle {
        text-transform: uppercase;
        line-height: 49px;
        font-size: 36px;
        color: #B49678; 
        margin: 0;

        @media screen and (max-width: 767px) {
            font-size: 28px;
            line-height: 38px;
        }
        
        span {
            line-height: 49px;
            font-weight: 700;
            font-size: 36px;

            @media screen and (max-width: 767px) {
                font-size: 28px;
                line-height: 38px;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        color: #1919B4;
        margin: 0;

        @media screen and (max-width: 767px) {
            font-size: 28px;
            line-height: 38px;
        }

        span {
            line-height: 49px;
            font-weight: 700;
            font-size: 36px;

            @media screen and (max-width: 767px) {
                font-size: 28px;
                line-height: 38px;
            }
        }
    }
}