.programTitleWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    margin: 0 0 30px;

    &__mainProgramTitle {
        text-transform: uppercase;
        line-height: 49px;
        font-size: 36px;
        color: #B49678; 
        margin: 0;
        
        span {
            line-height: 49px;
            font-weight: 700;
            font-size: 36px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        color: #1919B4;
        margin: 0;

        span {
            line-height: 49px;
            font-weight: 700;
            font-size: 36px;
        }
    }
}