.postCard {
    margin-bottom: 60px;

    &__mainImage {
        width: 100%;
        margin-bottom: 30px;
    }

    &__title {
        &:hover {
            text-decoration: none;
        }

        h2 {
            text-transform: uppercase;
            line-height: 43px;
            font-weight: 600;
            font-size: 36px;
            color: #B49678;
            margin: 0 0 15px;
        }
    }

    &__description,
    &__description a,
    &__tags a {
        line-height: 25px;
        font-weight: 600;
        font-size: 18px;
        color: #C4C4C4;
    }

    &__content {
        font-weight: normal;
        font-size: 18px;
        color: #000000;
        margin: 20px 0;

        ul {
            padding: 0;
            list-style: none;

            li {
                position: relative;
                padding-left: 30px;   
                margin-bottom: 15px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 13px;
                    height: 24px;
                    background-image: url('../../images/stopa_blue.svg');
                }
            }
        }
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.3em;
        color: #B49678;
        background: #fff;
        border: 2px solid #B49678;
        border-radius: 35px;
        transition: all .3s ease;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: linear-gradient(105.41deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;
        }
    }
}