.postCard {
    &__mainImage {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
    }

    &__mediaWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 300px;
        padding: 50px 0;
        background: linear-gradient(114.71deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;
        
        &__czaplaLogo {

        }

        &_overlay {

        }
    }

    &__wrapper {
        padding-left: 40px;
    }

    &__title {
        &:hover {
            text-decoration: none;
        }

        h2 {
            text-transform: uppercase;
            line-height: 43px;
            font-weight: 600;
            font-size: 36px;
            color: #B49678;
            margin: 0 0 15px;
        }
    }

    &__description,
    &__description a,
    &__tags a {
        line-height: 25px;
        font-weight: 500;
        font-size: 18px;
        color: #C4C4C4;
    }

    &__content {
        font-weight: normal;
        font-size: 18px;
        color: #000000;
        margin: 20px 0 50px;

        ul {
            padding: 0;
            list-style: none;

            li {
                position: relative;
                padding-left: 30px;   
                margin-bottom: 15px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 13px;
                    height: 24px;
                    background-image: url('../../images/stopa_blue.svg');
                }
            }
        }
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 0 60px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.3em;
        color: #B49678;
        background: #fff;
        border: 2px solid #E5E5E5;
        border-radius: 35px;
        transition: all .3s ease;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: linear-gradient(105.41deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;
            border-color: #B49678;
        }
    }

    &__separator {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 15px;
        margin: 80px 0;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: calc(50% - 1px);
            left: 15px;
            width: calc(100% - 30px);
            height: 2px;
            background-color: #E5E5E5;
            z-index: -1;
        }

        .imageWrapper {
            padding: 0 26px;
            background-color: #fff;

            img {
                width: 42px;
            }
        }
    }
}