.postPagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    .prevPage {
        transform: rotate(180deg);
    }

    .prevPage,
    .nextPage {
        margin: 0 35px;
    }

    .paginationLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        font-weight: 600;
        font-size: 18px;
        color: #B49678;
        border: 2px solid #E5E5E5;
        margin: 0 10px;
        transition: all .3s ease;

        &:hover {
            text-decoration: none;
            color: #fff;
            background-color: #B49678;
            border-color: #B49678;
        }
    }
    
    .currentPage {
        color: #fff;
        background-color: #B49678;
        border-color: #B49678;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        font-weight: 600;
        font-size: 18px;
        color: #B49678;
        margin: 0 10px;
    }
}