.postPagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    .prevPage {
        transform: rotate(180deg);
    }

    .paginationLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 2px solid #E5E5E5;
    }
}