.postPagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    .prevPage {
        transform: rotate(180deg);
    }

    .paginationLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        font-weight: 600;
        font-size: 18px;
        color: #B49678;
        border: 2px solid #E5E5E5;
        margin: 0 15px;
    }
}