.contactPage {
  &__contactInfo {
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.3em;
      color: #b49678;
      margin-bottom: 25px;
    }

    &_content,
    &_companyInfo,
    &_documents {
      margin-bottom: 20px;

      p,
      a {
        display: block;
        font-size: 18px;
        line-height: 27px;
        color: #303845;
        margin: 0;
      }
    }

    &_tel,
    &_email {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: normal;
      line-height: 19px;
      font-size: 18px;
      color: #303845;

      &:before {
        display: block;
        width: 20px;
        margin-right: 10px;
      }

      &:hover {
        text-decoration: none;
        color: #303845;
      }
    }

    &_tel {
      &:before {
        content: url("../../images/tel_svg.svg");
      }
    }

    &_email {
      &:before {
        content: url("../../images/email_svg.svg");
      }
    }
  }
}
