.contentText {
    line-height: 1.5;
    font-weight: normal;
    font-size: 18px;
    color: #303845;   
}

.singleMember {
    .imageWrapper {
        img {
            width: 100%;
        }
    }
}