.contentText {
    line-height: 1.5;
    font-weight: normal;
    font-size: 18px;
    color: #303845; 

    @media screen and (max-width: 991px) {
        margin-top: 20px;
    }
}

.singleMember {
    margin-bottom: 50px;

    &:hover {
        .singleMember__imageWrapper {
            box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);

            .overlay {
                opacity: 1;
            }
        }

        h4 {
            opacity: 0;
        }
    }

    &__imageWrapper {
        position: relative;
        border-radius: 7px;
        margin-bottom: 20px;
        overflow: hidden;
        transition: box-shadow .3s ease;

        img {
            width: 100%;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            opacity: 0;
            will-change: opacity;
            transition: opacity .3s ease;

            h5 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.2em;
                color: #B49678;
            }

            ul {
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 8px;

                li {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 0.2em;
                    color: #B49678;
                }
            }

            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #303845;
                margin: 0 0 8px;
            }

            .socialLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 2px solid #fff;

                img {
                    width: 19px;
                }
            }
        }
    }

    h4 {
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.2em;
        color: #B49678;
        margin: 0;
        will-change: opacity;
        transition: opacity .3s ease;
    }
}