.contactPage {
    &__contactInfo {
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.3em;
            color: #B49678;
            margin-bottom: 25px;
        }

        &_tel,
        &_email {
            position: relative;
            display: inline-flex;
            align-items: center;
            font-weight: normal;
            line-height: 19px;
            color: #FFFFFF;
            font-size: 18px;

            &:before {
                display: block;
                width: 20px;
                margin-right: 10px;
            }

            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }

        &_tel {
            margin-bottom: 15px;

            &:before {
                content: url('../../images/tel_svg.svg');
            }
        }

        &_email {
            margin-bottom: 40px;

            &:before {
                content: url('../../images/email_svg.svg');
            }
        }
    }
}