.contactPage {
    &__contactInfo {
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.3em;
            color: #B49678;
            margin-bottom: 25px;
        }
    }
}