.tagPage {
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0 40px;

        h1 {

        }

        h2 {
            display: inline-flex;
        }
    }
}