.navbar-light .navbar-toggler {
  padding: 0;
  border: none;

  .menuToggler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;

    span {
      width: 100%;
      height: 4px;
      background: #303845;
      border-radius: 5px;
      transition: all .3s ease;
    }
  }
}
