.navbar-light .navbar-toggler {
  order: 1;
  padding: 0;
  border: none;
  outline: none;

  &.opened {
    .menuToggler {
      .topLine {
        top: 9px;
        transform: rotate(45deg);
      }

      .midLine {
        opacity: 0;
      }

      .bottomLine {
        bottom: 9px;
        transform: rotate(-45deg);
      }
    }
  }

  .menuToggler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;

    span {
      position: relative;
      width: 100%;
      height: 4px;
      background: #303845;
      border-radius: 5px;
      will-change: transform;
      transition: all 0.3s ease;
    }
  }
}
