.smallPostCard {
    &__mainImage {
        width: 100%;
        margin-bottom: 30px;
    }

    &__wrapper {
        padding-left: 20px;
        border-left: 2px solid #E5E5E5;
    }

    &__title {
        text-transform: uppercase;
        line-height: 33px;
        font-weight: 600;
        font-size: 24px;
        color: #B49678;
        margin: 0 0 15px;
    }

    &__description,
    &__description a,
    &__tags a {
        line-height: 19px;
        font-weight: 600;
        font-size: 14px;
        color: #C4C4C4;
    }
}