.smallPostCard {
    margin-bottom: 60px;

    &__mainImage {
        width: 100%;
        margin-bottom: 30px;
    }

    &__wrapper {
        padding-left: 20px;
        border-left: 2px solid #E5E5E5;
    }

    &__title {
        text-transform: uppercase;
        line-height: 33px;
        font-weight: 600;
        font-size: 24px;
        color: #B49678;
        margin: 0 0 15px;
    }

    &__description,
    &__description a,
    &__tags a {
        line-height: 19px;
        font-weight: 600;
        font-size: 14px;
        color: #C4C4C4;
    }

    &__content {
        font-weight: normal;
        font-size: 14px;
        color: #000000;
        margin: 20px 0;
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.3em;
        color: #B49678;
        border: 2px solid #B49678;
        border-radius: 35px;
    }
}