.contactForm {
    .formField {
        input {
            display: flex;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.2em;
        color: #303845;
        border: 2px solid #E5E5E5;

        &::placeholder {
            color: #C4C4C4;
        }
        }
    }
}