.contactForm {
  .formField {
    margin-bottom: 25px;

    input,
    textarea {
      display: flex;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.2em;
      color: #303845;
      background-color: #fff;
      border: 2px solid #e5e5e5;

      &::placeholder {
        color: #c4c4c4;
      }
    }

    .MuiFilledInput-root {
        &:before,
        &:after {
            border-bottom-color: #fff;
        }
    }
  }
}
