.contactForm {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;

  .errorField {
    .MuiFilledInput-underline {
      &:before,
      &:after {
        border-bottom: 3px solid #B80F0A !important;
      }
    }
  }

  p,
  label {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #939393;
  }

  p span,
  p a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #B49678;
  }

  p span {
    font-weight: 400;
  }

  .formField {
    width: 100%;
    margin-bottom: 25px;

    &__name {
      margin-right: 4%;
    }

    &__name,
    &__email {
      width: 48%;
    }

    &__checkboxWrapper {
      display: flex;
      width: 100%;
      margin-bottom: 15px;

      input[type="checkbox"] {
        -webkit-appearance: none;
        display: block;
        flex: 1;
        max-width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid #C4C4C4;
        border-radius: 2px;
        margin-right: 12px;
        outline: none;

        &:checked {
          background-image: url('../../images/checkbox_mark.svg');
          background-size: 12px;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:disabled {
          opacity: .5;
        }
      }

      label {
        flex: 2;
      }
    }

    input,
    textarea {
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.2em;
      color: #303845;
      border: 2px solid #e5e5e5;

      &:disabled {
        opacity: .5;
      }
    }

    textarea[name="message"] {
      height: 200px;
      padding: 20px 20px 0;
    }

    .MuiFormLabel-root {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.2em;
      color: #c4c4c4;
    }

    .MuiInputLabel-filled {
      transform: translate(20px, 24px) scale(1);

      &.MuiInputLabel-shrink {
        color: #b49678;
        transform: translate(20px, -20px) scale(0.9);
      }
    }

    .MuiFilledInput-multiline,
    .MuiInputBase-multiline {
      padding: 0;
    }

    .MuiFilledInput-root {
      background-color: #fff;
    }

    .MuiTextField-root {
      width: 100%;
    }

    .MuiFilledInput-underline {
      &:before,
      &:after {
        border-bottom: 3px solid transparent;
      }

      &.Mui-focused {
        input,
        textarea {
          background-color: rgba(229, 229, 229, .18);
        }

        &:before,
        &:after {
          border-bottom: 3px solid #b49678;
        }
      }
    }
  }

  .MuiCircularProgress-circle {
    svg {
      circle {
        stroke: #b49678
      }
    }
  }

  .czaplaLink {
    margin-top: 25px;

    &:disabled {
      color: #C4C4C4;
      border-color: #E5E5E5;
      cursor: unset;

      &:hover {
        background: #fff;
      }
    }
  }
}
