.contactForm {
  .formField {
    width: 100%;
    margin-bottom: 25px;

    input,
    textarea {
      display: flex;
      align-items: center;

      height: 60px;
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.2em;
      color: #303845;
      background-color: #fff;
      border: 2px solid #e5e5e5;
    }

    .MuiFormLabel-root {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.2em;
      color: #c4c4c4;
    }

    .MuiInputLabel-filled {
      transform: translate(20px, 24px) scale(1);

      &.MuiInputLabel-shrink {
        transform: translate(12px, 10px) scale(0.75);
      }
    }

    .MuiTextField-root {
      width: 100%;
    }

    .MuiFilledInput-underline {
      &:before,
      &:after {
        border-bottom: 3px solid transparent;
      }

      &.Mui-focused {
        &:before,
        &:after {
          border-bottom: 3px solid #b49678;
        }
      }
    }
  }
}
