.cardDescWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 30px 10px 25px;
    border: 2px solid #E5E5E5;

    img {
        height: 48px;
        margin-bottom: 20px;
    }

    h3 {
        text-transform: uppercase;
        line-height: 33px;
        font-weight: 600;
        font-size: 24px;
        color: #B49678;
        margin: 0 0 10px;      
    }

    p {
        line-height: 28px;
        font-size: 16px;
        color: #303845;
    }
}