.carousel {
    margin-bottom: 55px;

    .carousel-indicators {
        top: calc(100% + 20px);
        margin: 0;

        li {
            width: 14px;
            height: 14px;
            background-color: #B49678;
            border: none;
            border-radius: 14px;
            opacity: .5;
            margin: 0 5px;
            transition: background-color .3s ease;

            &.active {
                background-color: #1919B4;
                opacity: 1;
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-netx {
        opacity: 1;;
    }
}