.carousel {
  position: relative;
  margin-bottom: 55px;

  // &:after {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     background: linear-gradient(0deg, rgba(37, 50, 138, 0.4), rgba(37, 50, 138, 0.4));
  // }

  .carousel-inner {
    .carousel-item {
      .gatsby-image-wrapper {
        min-height: calc(100vh - 55px - 183px);

        @media screen and (max-width: 1799px) {
          min-height: calc(100vh - 55px - 150px);
        }

        @media screen and (max-width: 991px) {
          min-height: calc(50vh - 55px - 100px);
        }

        @media screen and (max-width: 479px) {
          min-height: calc(50vh - 55px - 65px);
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .carousel-indicators {
    top: calc(100% + 20px);
    margin: 0;

    li {
      width: 14px;
      height: 14px;
      background-color: #b49678;
      border: none;
      border-radius: 14px;
      opacity: 0.5;
      margin: 0 5px;
      transition: background-color 0.3s ease;

      &.active {
        background-color: #1919b4;
        opacity: 1;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;

    @media screen and (max-width: 767px) {
      width: 40px;
    }

    svg {
      @media screen and (max-width: 767px) {
        width: 17px;
      }

      @media screen and (max-width: 479px) {
        width: 15px;
      }

      path {
        transition: stroke 0.3s ease;
      }
    }

    &:hover {
      path {
        stroke: #1919b4;
      }
    }
  }

  .carousel-control-next {
    svg {
      transform: rotate(180deg);
    }
  }
}
