.carousel {
    margin-bottom: 55px;

    .carousel-indicators {
        top: 100%;
        margin: 0;

        li {
            width: 14px;
            height: 14px;
            border: none;
            border-radius: 14px;
            margin: 0 5px;
        }
    }
}