.carousel {
    position: relative;
    margin-bottom: 55px;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(0deg, rgba(37, 50, 138, 0.4), rgba(37, 50, 138, 0.4));
    // }

    .carousel-inner {
        min-height: calc(100vh - 55px - 183px);
        
        .carousel-item {
            img {
                width: 100%;
            }
        }
    }


    .carousel-indicators {
        top: calc(100% + 20px);
        margin: 0;

        li {
            width: 14px;
            height: 14px;
            background-color: #B49678;
            border: none;
            border-radius: 14px;
            opacity: .5;
            margin: 0 5px;
            transition: background-color .3s ease;

            &.active {
                background-color: #1919B4;
                opacity: 1;
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        opacity: 1;

        path {
            transition: stroke .3s ease;
        }

        &:hover {
            path {
                stroke: #1919B4;
            }
        }
    }

    .carousel-control-next {
        svg {
            transform: rotate(180deg);
        }
    }
}