.singlePostWrapper {
    .carousel-indicators {
        justify-content: flex-start;
    }

    .stickyWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 125px;

        .czaplaLink {
            font-size: 12px;
            border-color: #E5E5E5;
            margin-bottom: 10px;

            &:hover {
                border-color: transparent;
            }
        }
    }
}