.singlePostWrapper {
    .carousel-indicators {
        justify-content: flex-start;
    }

    .stickyWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 125px;
    }
}