.singlePostWrapper {
    .carousel-indicators {
        justify-content: flex-start;
    }

    .stickyWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 125px;

        .czaplaLink {
            height: 40px;
            padding: 0 30px;
            font-size: 12px;
            border-color: #E5E5E5;
            margin-bottom: 10px;

            &:hover {
                border-color: #B49678;
            }
        }

        .socialLinksWrapper {
            display: flex;
            flex-direction: column;
            margin-top: 70px;

            .socialLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 100%;
                border: 2px solid #E5E5E5;
                margin-bottom: 10px;
                transition: all .3s ease;

                &:hover {
                    background-color: linear-gradient(105.41deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;;
                    border-color: #B49678;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                svg {
                    max-height: 22px;

                    path {
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
}