.singleProduct {
    &__content {
        h1, h2, h3, h4, h5, h6 {
            text-transform: uppercase;
            font-weight: 600;            
            color: #B49678;            
        }

        p {
            line-height: 27px;
            font-weight: normal;
            font-size: 18px;
            color: #303845;
        }
    }
}