.singlePostWrapper {
    .carousel-indicators {
        justify-content: flex-start;
    }

    .stickyWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 125px;

        .czaplaLink {
            height: 40px;
            padding: 0 30px;
            font-size: 12px;
            border-color: #E5E5E5;
            margin-bottom: 10px;

            &:hover {
                border-color: #B49678;
            }
        }

        .socialLinksWrapper {
            display: flex;
            flex-direction: column;
            margin: 70px 0;

            .socialLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 100%;
                border: 2px solid #E5E5E5;
                margin-bottom: 10px;
                transition: all .3s ease;

                &:hover {
                    background: linear-gradient(105.41deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;;
                    border-color: #B49678;
                    cursor: pointer;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                svg {
                    max-height: 22px;

                    path {
                        transition: all .3s ease;
                    }
                }
            }
        }
    }

    h1 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 36px;
        color: #B49678;
        margin-bottom: 15px;
    }

    .postDesc, 
    .postDesc a {
        text-transform: uppercase;
        line-height: 25px;
        font-weight: 600;
        font-size: 18px;
        color: #C4C4C4;
        margin-bottom: 40px;
    }

    .postContent {
        * {
            font-weight: normal;
            font-size: 18px;
            color: #303845;
        }

        a {
            color: #B49678;
        }

        blockquote {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            border-left: 2px solid #E5E5E5;
        }
    }
}