.singleProduct {
    .titleWrapper {
        margin-bottom: 50px;
    }

    &__content {
        h1, h2, h3, h4, h5, h6 {
            text-transform: uppercase;
            font-weight: 600;            
            color: #B49678;         
            
            @media screen and (max-width: 767px) {
                font-size: 24px;
            }
        }

        p {
            line-height: 27px;
            font-weight: normal;
            font-size: 18px;
            color: #303845;
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                position: relative;
                padding-left: 30px;   
                margin-bottom: 15px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 13px;
                    height: 24px;
                    background-image: url('../../images/stopa.svg');
                }
            }
        }
    }
}