.singlePostWrapper {
    .carousel-inner {
        border-radius: 10px;
        // box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);

        @media screen and (max-width: 1199px) {
            margin-top: 25px;
        }
    }
    
    .carousel-indicators {
        justify-content: flex-start;
    }

    &__singleImg {
        width: 100%;
        max-width: 100%;
        // border-radius: 10px; 
        object-fit: cover;
    }

    .stickyCol {
        @media screen and (max-width: 1199px) {
            order: 2;
        }

        div {
            @media screen and (max-width: 1199px) {
                padding: 0 !important;
            }
        }
    }

    .stickyWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 125px;

        @media screen and (max-width: 1199px) {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: auto;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 40px 0 50px;
        }

        a,
        span {
            @media screen and (max-width: 1199px) {
                margin: 0 5px;
            }
        }

        .czaplaLink {
            height: auto;
            padding: 10px 20px;
            line-height: 1.4;
            font-size: 12px;
            border-color: #E5E5E5;
            margin-bottom: 10px;

            &:hover {
                border-color: #B49678;
            }
        }

        .socialLinksWrapper {
            display: flex;
            flex-direction: column;
            margin: 70px 0;

            @media screen and (max-width: 1199px) {
                flex-direction: row;
                justify-content: center;
                flex-basis: 100%;
                margin: 0;
            }

            .socialLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 100%;
                border: 2px solid #E5E5E5;
                margin-bottom: 10px;
                transition: all .3s ease;

                &:hover {
                    background: linear-gradient(105.41deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;;
                    border-color: #B49678;
                    cursor: pointer;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                svg {
                    max-height: 22px;

                    path {
                        transition: all .3s ease;
                    }
                }
            }
        }
    }

    h1 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 36px;
        color: #B49678;
        margin-bottom: 15px;

        @media screen and (max-width: 767px) {
            font-size: 28px;
        }
    }

    .postDesc, 
    .postDesc a {
        text-transform: uppercase;
        line-height: 25px;
        font-weight: 600;
        font-size: 18px;
        color: #C4C4C4;
        margin-bottom: 40px;
    }

    .postContent {
        * {
            font-weight: normal;
            font-size: 18px;
            color: #303845;
        }

        img.size-full {
            width: 100%;
            height: auto;
        }

        a {
            color: #B49678;
        }

        blockquote {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            font-size: 14px;
            color: #939393;
            border-left: 2px solid #E5E5E5;

            p {
                color: #939393;
                margin: 0;
            }
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                position: relative;
                padding-left: 30px;   
                margin-bottom: 15px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 13px;
                    height: 24px;
                    background-image: url('../../images/stopa.svg');
                }
            }
        }
    }
}