.singleProduct {
    &__content {
        h1, h2, h3, h4, h5, h6 {
            text-transform: uppercase;
            font-weight: 600;            
            color: #B49678;            
        }

        p {
            line-height: 27px;
            font-weight: normal;
            font-size: 18px;
            color: #303845;
        }

        ul.programLinks {
            padding: 0;
            list-style: none;
        
            li {
                position: relative;
        
                &:hover {
                    svg {
                        path {
                            fill: #1919B4;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: #B49678;
                    }
                }
        
                svg {
                    position: absolute;
                    left: -25px;
                    top: 0;
        
                    path {
                        transition: all .3s ease;
                    }
                }
                
                a {
                    display: block;
                    line-height: 25px;
                    font-weight: normal;
                    font-size: 18px;
                    color: #303845;
                    margin-bottom: 20px;
                    transition: all .3s ease;
                }
            }
        }
    }
}