.singleProgramCards {
    .czaplaLink {
        span {
            margin-right: 10px;

            @media screen and (max-width: 767px) {
                margin: 0;
            }
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
}