.homepageNumbers {
    &__wrapper {
        padding: 70px 0 80px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .col-md-4 {
            text-align: center;

            span {
                text-transform: uppercase;
                line-height: 131px;
                font-weight: normal;
                font-size: 96px;
                color: #FFFFFF;
            }
        }
    }
}