.homepageNumbers {
    &__wrapper {
        padding: 70px 0 80px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        span {
            font-weight: normal;
font-size: 96px;
line-height: 131px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

        }
    }
}