.referencesSection {
    &__contentWrapper,
    &__author {
        display: block;
        max-width: 840px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__author {
        text-align: center;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #B49678;
    }
}