.referencesSection {
    &__contentWrapper,
    &__author {
        display: block;
        max-width: 840px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__contentWrapper {
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #303845;
        }
    }

    &__author {
        text-align: center;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #B49678;
    }

    .carousel-item {
        display: flex;
        align-items: center;
        transition: all .45s ease;
    }
}