.resultTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 40px;

    img {
        width: 42px;
    }

    h1 {
        margin: 0 0 10px;
    }

    h1, 
    h1 span {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 36px;
        line-height: 49px;
        color: #B49678;            
    }

    h1 span {
        font-weight: 700;
    }

    h2 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 30px;    
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.2em;
        
        color: #B49678;    
        border: 2px solid #E5E5E5;
        border-radius: 35px;
    }
}