.partnerSection {
    .col-md-3 {
        border-right: 1px solid rgba(0, 0, 0, .06);
        margin-bottom: 20px;

        &:nth-child(4n + 5) {
            border: none;
        }
    }

    &__singlePartner {
        display: block;
        filter: grayscale(1);
        translate: filter .3s ease;

        &:hover {
            filter: grayscale(10;
        }

        img {
            width: 100%;
        }
    }
}