.partnerSection {
    .col-md-3 {
        border-right: 1px solid rgba(0, 0, 0, .06);
        margin-bottom: 20px;

        &:nth-child(5n) {
            border: none;
        }
    }

    &__singlePartner {
        display: block;

        img {
            width: 100%;
        }
    }
}