.newsletterSection {
    &__wrapper {
        background-color: #1919B4;

        img {
            width: 100%;
            padding: 0 10px;
            margin: -50px 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}