.newsletterSection {
    &__wrapper {
        background-color: #1919B4;

        img {
            width: 100%;
            padding: 0 10px;
            margin: -50px 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
            color: #FFFFFF;

            span {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 36px;
                line-height: 49px;
                color: #FFFFFF;
            }
        }

        form {
            .MuiInputBase-root {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }
}