.newsletterSection {
    &__wrapper {
        padding: 0 100px;
        background-color: #1919B4;

        @media screen and (max-width: 1599px) {
            padding: 0 25px;
        }
    }

    &__imgCol {
        img {
            width: 100%;
            padding: 0 10px;
            margin: -50px 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
            color: #FFFFFF;

            @media screen and (max-width: 1599px) {
                line-height: 1.4;
                font-size: 24px;
                margin: 10px 0 0;
            }

            span {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 36px;
                line-height: 49px;
                color: #FFFFFF;

                @media screen and (max-width: 1599px) {
                    line-height: 1.4;
                    font-size: 24px;
                }
            }
        }

        form {
            display: flex;
            align-items: flex-end;

            #newsletter_name {
                height: 60px;
                padding: 0 25px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                color: #B49678;
                background-color: #fff;
                border-radius: 35px;
                outline: none;

                @media screen and (max-width: 1599px) {
                    height: 45px;
                }

                &:disabled {
                    opacity: .7;
                }
            }

            #newsletter_email {
                height: 60px;
                padding: 0 25px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                color: #fff;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 35px;
                outline: none;

                @media screen and (max-width: 1599px) {
                    height: 45px;
                }

                &:disabled {
                    opacity: .7;
                }
            }

            input[type="submit"] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 27%;
                height: 60px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                color: #FFFFFF;
                background: linear-gradient(100.01deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;
                border: none;
                border-radius: 35px;
                margin: 0 0 8px 30px;
                outline: none;
                transition: all .3s ease;

                @media screen and (max-width: 1599px) {
                    height: 45px;
                    font-size: 14px;
                    margin: 0 0 8px 10px;
                }

                &:disabled {
                    opacity: .7;
                }

                &:hover:enabled {
                    color: #303845;
                    box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.25);
                }
            }

            .MuiInputBase-root {
                &:before,
                &:after {
                    display: none;
                }
            }

            .MuiFormLabel-root {
                z-index: 2;

                &[for="newsletter_email"] {
                    color: #fff;
                }
            }

            .MuiInputLabel-formControl {
                top: 13px;
                left: 25px;

                @media screen and (max-width: 1599px) {
                    top: 7px;
                }
            }

            .MuiInputLabel-shrink {
                transform: translate(0, -15px) scale(0.75);
                color: #fff;
                opacity: 0.8;
                font-size: 18px;

                @media screen and (max-width: 1599px) {
                    transform: translate(0, -7px) scale(0.75);
                }
            }

            .MuiCircularProgress-root {
                margin: 0 0 15px 100px;

                svg {
                    circle {
                        stroke: #B49678;
                    }
                }
            }

            .MuiFormControl-marginNormal {
                @media screen and (max-width: 1599px) {
                    margin-top: 0;
                }
            }
        }

        .errorNotification,
        .sentNotification {
            text-align: center;
            font-weight: 600;
            font-size: 22px;
            color: #fff;
            margin: 10px 0;
        }

        .errorNotification {
            color: rgb(184, 15, 10);
        }
    }
}