.newsletterSection {
    &__wrapper {
        padding: 0 75px;
        background-color: #1919B4;

        img {
            width: 100%;
            padding: 0 10px;
            margin: -50px 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
            color: #FFFFFF;

            span {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 36px;
                line-height: 49px;
                color: #FFFFFF;
            }
        }

        form {
            display: flex;
            align-items: flex-end;

            #newsletter_name {
                width: 250px;
                height: 60px;
                padding: 0 25px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                color: #B49678;
                background-color: #fff;
                border-radius: 35px;
                outline: none;
            }

            #newsletter_email {
                width: 450px;
                height: 60px;
                padding: 0 25px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                color: #fff;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 35px;
                outline: none;
            }

            input[type="submit"] {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%px;
                height: 60px;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                color: #FFFFFF;
                background: linear-gradient(100.01deg, #D3BBA2 0%, rgba(211, 187, 162, 0) 100%), #B49678;
                border: none;
                border-radius: 35px;
                margin: 0 0 8px 30px;
            }

            .MuiInputBase-root {
                &:before,
                &:after {
                    display: none;
                }
            }

            .MuiFormLabel-root {
                z-index: 2;
            }

            .MuiInputLabel-formControl {
                top: 13px;
                left: 25px;
            }

            .MuiInputLabel-shrink {
                transform: translate(0, -15px) scale(0.75);
                color: #fff;
                opacity: 0.8;
                font-size: 18px;
            }
        }
    }
}