.homepageAbout {
    .titleWrapper {
        margin-bottom: 20px;
    }

    p {
        line-height: 25px;
        font-size: 18px;
        color: #303845;

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
}